__pycache__/
*.pyc
venv/
.venv/
models/checkpoints/*.pt
models/checkpoints/*.pth
data/images/
data/raw/
data/splits/
.ipynb_checkpoints/
.env
.vscode/
.DS_Store
Thumbs.db

streamlit_8502.err
streamlit_8502.out
