numpy==1.26.4
pandas==2.2.2
pyyaml==6.0.1
tqdm==4.66.4
networkx==3.3
matplotlib==3.8.4
torch==2.3.1
torchvision==0.18.1
torch-geometric==2.5.3
scikit-learn==1.5.0
jupyter==1.0.0
ipykernel==6.29.4
streamlit==1.35.0
gradio==4.36.1