numpy>=1.24
pandas>=2.0
pyyaml>=6.0
tqdm>=4.60
networkx>=3.0
matplotlib>=3.7
Pillow>=9.0
# pygraphviz
pydot
torch>=2.0
torchvision>=0.15
torch-geometric>=2.3
scikit-learn>=1.2
jupyter>=1.0
ipykernel>=6.0
streamlit>=1.30
gradio>=4.0
scipy>=1.10